.winners {
    grid-column: 1 / span 2;
}

.winnerRegions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.winnerRegion {
    margin: 10px;
    padding: 10px 20px;
    line-height: 1.5em;
    text-align: left;
}

.winnerRegion input[type="radio"] {
    margin-right: 10px;
}

.winners p:nth-of-type(2) {
    margin: 0px;
    color: gray;
}